$circle-radius-big: 308.5;
$circle-radius-small: 274.5;
$small-media-width: 1700;

$app-height-small: 800px;
$app-height-big: 1000px;

:export {
  circleRadiusBig: $circle-radius-big;
  circleRadiusSmall: $circle-radius-small;
  smallMediaWidth: $small-media-width;
}
