<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>Distorted Volumes</title>
    <style>
      @font-face {
        font-family: "DIN";
        src: url("./DINCond-Medium.otf") format("opentype");
        font-weight: bold;
      }
      @font-face {
        font-family: "DIN";
        src: url("./dincond-regular-593e5cee03440.otf") format("opentype");
      }
    </style>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
